name: python-tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Configure Datadog Test Optimization
        uses: datadog/test-visibility-github-action@v2
        with:
          languages: python
          api_key: ${{secrets.DD_API_KEY}}
          site: us5.datadoghq.com
      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r harness/requirements.txt
          pip install -r apps/shop-app/requirements.txt
      - name: Run pytest (shop-app)
        run: python -m pytest apps/shop-app

